<div class="col-md-12 text-center">
<%= form_with model: @user do |f| %>
<h4>身長</h4>
<br>
  <%= f.text_field :stature, :placeholder => "164.3" %> cm
  <br>
<br>
  <h4>名前</h4>
  <br>
  <%= f.text_field :name %>
  <br><br>
<%= f.submit '保存', class:'btn btn-success' %>
<% end %>
</div>