<table calss='table table-bordered'>
  <thead class='table-dark'>
    <tr>
      <th>種目</th>
      <th>メイン</th>
      <th>サブ</th>
      <th>器具</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>アップライトロウ </th>
      <td>三角筋(前部・中部) </td>
      <td>僧帽筋 </td>
      <td>ダンベル</td>
    </tr>
  </tbody>
</table>
ベンチプレスの最大挙上重量（1RM［Repetition Maximum］＝１回しか反復できない重さ）の合計値を算出します。
最大挙上重量＝重量×回数÷40＋重量

            <img data-toggle="collapse" src='/assets/chest.png' class="img-fluid" alt='筋肉画像の読み込みに失敗しました。' >