<table calss='table table-bordered'>
  <thead class='table-dark'>
    <tr>
      <th>種目</th>
      <th>メイン</th>
      <th>サブ</th>
      <th>器具</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>アップライトロウ </th>
      <td>三角筋(前部・中部) </td>
      <td>僧帽筋 </td>
      <td>ダンベル</td>
    </tr>
    <tr>
      <th>オーバーヘッドプレス</th>
      <td>肩甲帯全般</td>
      <td>三頭筋(上腕筋全体の2/3～3/4を占める筋肉）</td>
      <td>バーベル</td>
    </tr>
  </tbody>
</table>

<img class="shoulder" src="http://13.113.231.168/assets/shoulder-e0bb11845d2351403aa70dfb311c943b6c3323f92b2e9518c8dffbb989dc25fb.png">