<% if page.current? %>
  <h1 class='active'>
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, style:"margin:8px;" %>
  </h1>
<% else %>
  <h4>
    <%= link_to page, url, remote: remote, rel: page.rel, style:"margin:16px;" %>
  </h4>
<% end %>
