@font-face {
  font-family: 'GN-KillGothic-U-KanaNA';
  src: font-url('GN-KillGothic-U-KanaNA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: GN-KillGothic-U-KanaNA;
}